
/* ------------------------------------- */
/* ::: C U S T O M   C H E C K B O X ::: */
/* ------------------------------------- */

 // The html

// <div class="yupik-checkbox">
//     <input type="checkbox" class="yupik-checkbox__input" id="recevoir" checked />
//     <label for="recevoir" class="yupik-checkbox__label">
//         Recevoir la newsletter !
//         <span>&nbsp;</span>
//     </label>
// </div>


// Default variable
$yupik-checkbox-namespace: $inuit-namespace !default;

$yupik-checkbox-width: 20px !default;
$yupik-checkbox-border: true !default;
$yupik-checkbox-border-color: null !default;
$yupik-checkbox-border-color-active: null !default;
$yupik-checkbox-color-check: #db6313 !default;
$yupik-checkbox-font-size: 20px !default;
$yupik-checkbox-radius: null !default;
$yupik-checkbox-background-color: null !default;
$yupik-checkbox-background-color-active: null !default;
$yupik-checkbox-box-shadow: null !default; 

    
// Calculation
$yupik-checkbox-border-width: 0;

@if( $yupik-checkbox-border ) {
    $yupik-checkbox-border-width: 1px;
}

// The padding should be divided by 2, so if odd, is incremented by 1
@if( even($yupik-checkbox-width - $yupik-checkbox-border-width) == false ) {
    $yupik-checkbox-width: $yupik-checkbox-width + 1px;
}

// The SCSS
.#{$yupik-checkbox-namespace}checkbox { position: relative }

.#{$yupik-checkbox-namespace}checkbox__label {
    position: relative;
    display: inline-block;
    min-width: $yupik-checkbox-width; min-height: $yupik-checkbox-width;
    padding-left: $yupik-checkbox-width + 10px;
}

.#{$yupik-checkbox-namespace}checkbox__label--no-label {
  padding-left: 0;
}

$yupik-checkbox-padding: ($yupik-checkbox-width - $yupik-checkbox-border-width) / 2;

.#{$yupik-checkbox-namespace}checkbox__label > span {
    position: absolute; left: 0; top: 0;
    display: inline-block;
    height: 1px;
    padding: $yupik-checkbox-padding ($yupik-checkbox-padding - 2);
    -webkit-appearance: none;
    -moz-appearance: none;
    
    @if( $yupik-checkbox-radius ) {   
        @include vendor(border-radius, $yupik-checkbox-radius);
    }

    @if( $yupik-checkbox-background-color ) {   
        background-color: $yupik-checkbox-background-color;
    }

    @if( $yupik-checkbox-box-shadow ) {   
        @include vendor(box-shadow, $yupik-checkbox-box-shadow);
    }

    @if( $yupik-checkbox-border ) {   
        border: 1px solid $yupik-checkbox-border-color;
    }
}

.#{$yupik-checkbox-namespace}checkbox__input {
    display: none !important;


    &:checked {

        & + .#{$yupik-checkbox-namespace}checkbox__label > span {
            color: $yupik-checkbox-color-check;

            @if( $yupik-checkbox-background-color-active ) {   
                background-color: $yupik-checkbox-background-color-active;
            }

            &:after {
                content: '\2714';
                width: $yupik-checkbox-width;
                height: $yupik-checkbox-width;
                position: absolute; left: 0; top: 0;
                font-size: $yupik-checkbox-font-size; text-align: center;
                line-height: $yupik-checkbox-width;
            }
        }
    }

    @if( $yupik-checkbox-border ) { 

        &:checked + label > span,
        &:active + label > span { border-color: $yupik-checkbox-border-color-active }
    }
}


// IE8
.lte9 {
    
    .#{$yupik-checkbox-namespace}checkbox__input { 
        display: inline-block !important;
        position: absolute; left: 0; top: 0;
    }
    
    .#{$yupik-checkbox-namespace}checkbox__label > span { display: none !important }
}
